<div  style="text-align: center; ; margin-top: 7%;">
    <h1> יקר!
        <h2>נא הכנס מספר תעודת זהות</h2>
        <input type="text" id="tz" style="height: 50px;width: 300px ;">
        <br>
        <br>
        <input class="btn btn-seconday nav-link- active form-control"
         style="background-color:rgba(0, 0, 0, 0.836); height: 50px;width: 150px ; color: white;border-color: rgba(0, 0, 0, 0.836);"
          type="button"  value="אישור">
    </h1>
    <br>
    <h2>סך הניקוד שלך עד כה הוא:</h2>
</div>
