.container-fluid{
    width: 200px;
}
.navstyle{
   height: 50px;;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;

}
#left
{
    direction: ltr;
}
button{
    background-color: rgb(240, 121, 25);
    color: white;
}
button:active{
    background-color: white;
    color: rgb(240, 121, 25);

}
.deliver{
    width: 20%;
    height: 20%;
}
