<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">דף הבית-אייקון</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            אודות
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">אודות החברה</a></li>
            <li><a class="dropdown-item" href="#">   איך זה עובד?</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            משלוחן
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">הכנס נסיעה אפשרית</a></li>
            <li><a class="dropdown-item" href="#"> היסטורית המשלוחים שלי</a></li>
            <li><a class="dropdown-item" href="#">הרייטינג שלי</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            לקוח
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">הכנס בקשה למשלוח</a></li>
            <li><a class="dropdown-item" href="#">הגב על משלוח </a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">התחברות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">הרשמה</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>