<nav class="navbar navbar-expand-lg navbar-light bg" style="background-color: orangered;color: white;direction: rtl; ">
  <div class=" container-  ">
    <a class="navbar-brand" style="color:#ffffff" href="#"></a>

      <img src="/src/assets/11.jpg" style="height: 50px;width: 50px; " alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="  navbar-dark" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li (click)="changeabout()"class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            אודות
          </a>
        </li>
        <li (click)="changedeliver()" class="nav-item dropdown">
          <div class="nav-link dropdown-toggle " style="color:white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            משלוחן
          </div>
        </li>
        <li  (click)="changecustomer()"class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            לקוח
          </a>
        </li>
        <li>
          <div style="width: 140vh;"></div>
        </li>
        <li>
          <button type="button" class="btn btn-seconday nav-link-dark active" style="border-color: white;" href="#"
            routerLink="SignIn">התחברות</button>
        </li>
        <div style="width:7vh;"></div>
        <li>
          <button type="button" class="btn btn-seconday nav-link-dark active" style="border-color: white;" href="#"
            routerLink="SignUp">הרשמה</button>
        </li>
      </ul>

    </div>
  </div>
</nav>

<ul *ngIf="deliver==true"  class="deliver"aria-labelledby="navbarDropdown" style="background-color: white;">
  <li><a class=" dropdown-item " href="#">הכנס נסיעה אפשרית</a></li>
  <li><a class="dropdown-item" href="#"> היסטורית המשלוחים שלי</a></li>
  <li><a class="dropdown-item" href="#">הרייטינג שלי</a></li>
</ul>
<ul *ngIf="customer==true"class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" href="#">הכנס בקשה למשלוח</a></li>
  <li><a class="dropdown-item" href="#">הגב על משלוח </a></li>
</ul>
<ul *ngIf="about==true"class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" href="#">אודות החברה</a></li>
  <li><a class="dropdown-item" href="#"> איך זה עובד?</a></li>
</ul>