<div class="center" style=" width: 30rem;height: fit-content; margin-top: 200px;">
 <form [formGroup]="SignUpForm"  class="dropdown-menu p-4 row card fs-6">
    <div class="form control">
        <label for="tz">תעודת זהות</label>
        <input class="form-control" type="text" id="tz" placeholder="">
        <label for="firstname">שם פרטי </label>
        <input class="form-control" type="text" id="firstname" placeholder="">
        <label for="lastname">שם משפחה </label>
        <input class="form-control" type="text" id="LastName" placeholder="">
        <label for="status">סטטוס</label>
        <input class="form-control" type="text" id="Status">
        <label for="phone">מספר טלפון </label>
        <input class="form-control" type="text" id="phone">
        <label for="pass">סיסמא</label>
        <input class="form-control" type="password" id="pass" placeholder="">
        <br>
        <input class="btn  form-control" style="background-color:rgba(255, 68, 0, 0.904) " type="submit" (click)="DoSingUp()" value="אישור">
    </div>
</form> 
</div>