<form [formGroup]="SignUpForm">
    <label for="tz">תעודת זהות</label>
    <input class="form-control" type="text" id="tz" placeholder="">
    <label for="firstname">שם פרטי </label>
    <input class="form-control" type="text" id="name" placeholder="chayaAbu">
    <label for="lastname">שם משפחה </label>
    <input class="form-control" type="text" id="name" placeholder="chayaAbu">
    <label for="status">סטטוס</label>
    <input class="form-control" type="checkbox" id="nochange" >
    <label for="phone">מספר טלפון </label>
    <input class="form-control" type="checkbox" id="change" >
    <label for="pass">סיסמא</label>
    <input class="form-control" type="password" id="pass" placeholder="">
    <input   class="btn btn-primary" type="submit" value="הרשם">
    </form>