<div class="center" style=" width: 30rem;height: fit-content; margin-top: 200px;">
 <h3 style="text-align: center;color: rgb(240, 121, 25);">   תודה שבחרת להצטרף אלינו! נא מלא פרטים אישיים
</h3>
    <form [formGroup]="SignUpForm"  class="dropdown-menu p-4 row card fs-6">
       <div class="form control">
           <label for="Id">תעודת זהות</label>
           <input class="form-control" formControlName="Id" type="text" id="Id" placeholder="">
           <label for="FirsteName">שם פרטי </label>
           <input class="form-control" formControlName="FirsteName" type="text" id="FirsteName" placeholder="">
           <label for="LastName">שם משפחה </label>
           <input class="form-control" formControlName="LastName" type="text" id="LastName" placeholder="">
           <label for="Phone">מספר טלפון </label>
           <input class="form-control" formControlName="Phone" type="text" id="Phone">
           <label for="Password">סיסמא</label>
           <input class="form-control"  formControlName="Password"type="Password" id="Password" placeholder="">
           <!-- <label for="validationpass">אימות סיסמא</label>
           <input class="form-control"formControlName="validationpass" type="password" id="validationpass" placeholder=""> -->
           <br>
           <input class="btn  form-control" style="background-color:rgba(0, 0, 0, 0.836);color :white" type="submit" (click)="DoSingUp()" value="אישור">
       </div>
   </form> 
   </div>