<img [src]="ve" style="margin-right: 35%; margin-top:7%" alt="">
<div style="text-align: center; ; margin-top: 3%;">
<b>קצת עלינו</b>
<br>ByTheWay deliveries היא אפליקציית משלוחים שיתופית
<br>דרך אפליקציה זו תוכלו לשלוח משלוחים מכל סוג ,מכל מקום ולכול מקום בדרך פשוטה ונוחה
<br>כמו כן תוכלו להכניס פרטי נסיעה אפשרית -שאתם בכל אופן תעשו-ולהרוויח עליה
<br>האפליקציה פותחה בשנת 2022 בטנולוגיות מתקדמות ובממשק נוח וידידותי למשתמש  
<br>יש לכם מה לומר? הצעות לשדרוג? טקבקו לנו 
<br>כל הזכיות שמורת לשירה בורה -אין להעתיק או לשכפל חלקים מהאתר ללא רשות
</div>