.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;

}
#menu{

    display: flex;
 
}
 label{
    display: block;
     display: flex; 

 }
 .nav-item{
     direction:ltr ;
 }
 .dhl{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;

 }