<br>
<div class=" center" style=" width: 30rem;height: fit-content; margin-top: 200px;">
  <h3 style="text-align: center;color: rgb(240, 121, 25);">הכנס מספר תעודת זהות וסיסמא</h3>
<form [formGroup]="SignInForm" class="dropdown-menu p-4 row card fs-6" >
<div>
  
 
    <div class="mb-3">
        <label for="id" >תעודת זהות </label>
        <input formControlName="id"  class="form-control " type="text" id="id" placeholder="">
      </div>

      <div class="mb-3">
        <label for="pass" class="form-label">סיסמא</label>
        <input formControlName="pass" type="password" class="form-control" id="pass" placeholder="">
      </div>
      <br>
      <div>
        <input class="btn btn-seconday nav-link- active form-control" style="background-color:rgba(0, 0, 0, 0.836) ; color: white;border-color: rgba(0, 0, 0, 0.836);" (click)="doSingin()" type="button"  value="אישור">
      </div>
    </div>  
</form>
</div>